body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #FFFFFF;
    
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .container { 
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0;

}

.nav .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.nav .stud {
    color: #2e2f42;
    padding-right: 76px;
    align-items: center;
}

.nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: #404BBF;
}

.addres {
    font-style: normal;
}

.addres .connect {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.connect .addr {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-right: 40px;
}

.connect .addr:hover,
.connect .addr:focus {
    color: #404BBF;
}

.connect {
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.title {
  background-color: #2E2F42;
  padding: 188px 0;
}

.title .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container .htitle {
    max-width: 496px;
    padding-bottom: 48px;
}

.container .button {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    overflow: hidden;
    border: none;
}

.title .htitle {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.title .button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.title .button:hover,
.title .button:focus {
    background-color: #404BBF;
}

.main {
    padding: 120px 0;
    

}

.main .container {
    display: flex;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }

.main-list {
    display: flex;
    list-style: none;
    gap: 24px;
    flex-direction: row;
}

.main-list .parag {
    padding: 0;
    width: 264px;
    width: calc((100% - 72px) / 4);
}

.parag .functions {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    
    
}

.main-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}


.container .our-team {
    margin-bottom: 72px;
}

.our-t-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-t-list .team-list {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: 264px;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-list .descr {
  padding: 32px 0;
}  

.descr .name-team {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.descr .position-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portf {
    padding: 120px 0;
}



.our-p-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portf {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-p-list .choice-portf {
    width: calc((100% - 48px) / 3);
}

.choice-portf .name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.service-portf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.choice-portf .descr-portf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




footer {
    background-color: #2E2F42;
    padding: 100px 0;
}


.footer .container .one-part {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.footer .container .two-part {
    color: #f4f4fd; 
    display: inline-block;
}


.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}